<footer class="footer text-left border-top border-2 mt-5 bg-light px-2">
  <section class="container-fluid p-0">
    <div class="row align-middle no-gutters mt-5 ">
      <div class="col"></div>
      <div class="col-lg-8">
        <div class="row no-gutters mb-5">
          <div class="col"></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <small><a href="/" class="text-dark">Home</a></small>
            <ul class="list-unstyled">
              {{ range .Site.Menus.main }}
                <li class=""><small><a class="text-dark" href="{{ .URL }}">{{ .Name }}</a></small></li>
              {{ end }}
            </ul>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <small><b>Connect</b></small>
            <ul class="list-unstyled">
              <li class=""><a class="text-red" href="mailto:jack@jackcary.com"><i class="fa fa-envelope fa-fw mr-2"></i></a><small><a class="text-dark" href="mailto:jack@jackcary.com">jack@jackcary.com</a></small></li>
              {{ range .Site.Data.social }}
                <li class=""><a class="text-red" href="{{ .URL }}"><i class="{{ .faClass }} mr-2"></i></a><small><a class="text-dark" href="{{ .URL }}">{{ .name }}</a></small></li>
              {{ end }}
            </ul>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <small><b>Services</b></small>
            <ul class="list-unstyled">
              {{ range .Site.Data.services }}
                <li class=""><small><a class="text-dark" href="{{ .URL }}">{{ .name }}</a></small></li>
              {{ end }}
            </ul>
          </div>
          <div class="col"></div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <section class="text-left text-dark justify-content-left">
              <small class="pb-2">© JACK CARY SOFTWARE CONSULTANT LLC</small>
            </section>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>
</footer>
