<nav class="navbar navbar-expand-sm navbar-dark bg-custom py-1">
  <a class="navbar-brand text-uppercase py-0" href="/">{{ .Site.Title }}</a>
  <button class="navbar-toggler py-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon py-0"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end py-0" id="navbarNavAltMarkup">
    <div class="navbar-nav py-0">
      {{ range .Site.Menus.main }}
        <a class="nav-item nav-link text-uppercase py-0" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
</nav>
