{{ define "main" }}
<div class="row no-gutters" style="background:transparent url('/img/banner.jpg') no-repeat center center /cover">
  <div class="col"></div>
  <div class="col-lg-8 col-xl-8 mx-3 my-5">
    <p class="display-4 font-weight-bold mb-4 text-light">Analyze. Optimize. Automate.</p>
    <p class="lead text-light">I help business leaders streamline operations through software automation.</p>
    <p class="text-light">Are you ready to deliver your products and services with increased quality, speed, and efficiency?</p>
    <a class="btn  btn-lg btn-red mt-3 font-weight-bold rounded-0" href="/contact/">Get started</a>
  </div>
  <div class="col"></div>
</div>
<span class="m-5"></span>
<div class="row no-gutters mt-5">
  <div class="col"></div>
  <div class="col-lg-8">
    <h2 class="pl-2 mt-3">Hi, I'm Jack Cary.</h2>
    <div class="row no-gutters w-100">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="h-100 w-100 p-2">
          <p class="lead">I am a <a class="text-red" href="/about/">Software Consultant</a> and DevOps expert in Burlington, Vermont.</p>
          <p>I provide cost-effective software development <a class="text-red" href="/services/">services</a> and information technology solutions to organizations of all sizes.</p>
          <p>With over 20 years of real-world <a class="text-red" href="/experience/">experience</a> designing and developing business software, I have the skills and expertise to meet the needs of your project<a class="text-red" href="/about/">... more</a></p>
        </div>
     </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-fluid border border-2" src="/img/jack-cary.jpg" alt="Jack Cary">
      </div>
    </div>
    <h2 class="pl-2 mt-3">Services</h2>
    {{ .Content }}
  </div>
  <div class="col"></div>
</div>
{{ end }}
