<div class="container-fluid w-100 p-0">
  <div class="row no-gutters w-100">
    {{ range .Site.Data.services }}
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="h-100 w-100 p-2 border-0">
          <div class="card border-0 h-100">
            <a class="h5 card-title text-red" href="/contact/">{{ .name }}</a>
            <p class="card-text">{{ .description }}</p>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
