<div class="container">
  {{ $.Scratch.Add "levelText" "" }}
  {{ range .Site.Data.skills }}
    <div class="row mb-4">
      <div class="col-12">
        <a class="display-4">{{ .category.name }}</a>
        <div class="card bg-dark w-100 text-left py-2 px-2 mb-5 mt-2">
          <div class="card-body">
            {{ range .category.skills }}
              {{ if gt .level 0 }}
                {{ $.Scratch.Set "levelText" "Learning" }}
              {{ end }}

              {{ if gt .level 30 }}
                {{ $.Scratch.Set "levelText" "Intermediate" }}
              {{ end }}

              {{ if gt .level 50 }}
                {{ $.Scratch.Set "levelText" "Advanced" }}
              {{ end }}

              {{ if gt .level 70 }}
                {{ $.Scratch.Set "levelText" "Expert" }}
              {{ end }}
              <div class="text-left align-middle">{{ .name }}<span class="d-none d-md-inline float-right text-right align-text-bottom text-uppercase text-secondary small">{{ $.Scratch.Get "levelText" }}</span></div>
              <div class="progress rounded-0 mt-0 mb-5 bg-custom-dark">
                <div class="progress-bar bg-custom-highlight text-custom-dark rounded-0 text-center m-1" role="progressbar" style="width: {{ .level }}%" aria-valuenow="{{ .level }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
